body{
    background-color: rgb(230, 225, 225);
    /*background-image: url(../src/Img/Fondo.png);*/
}
.formulario{
    background-color: rgb(245, 241, 241);
    border: 1px solid black;
    border-radius: 15px;
}
.form-control{
    background-color: rgb(36, 22, 2);
    border-radius: 10px;
    color: white;
}
.form-control:focus{    
    background: none;
    color:black;
}
.btn{
    background-color: black;
    border-radius: 10px;
    color: white;
}
.btn:hover{
    background-color: gray;
}
.btn:visited{
    background-color: gray;
}
.btn:focus{
    background-color: gray;
}
.navbar{
border-radius: 10px;
}
.col-6{
    border-radius: 5px;
}
.container{
    padding-right: 5px;
    padding-left: 5px;
}
.form-control:disabled, .form-control[readonly] {
    color: rgb(58, 57, 57);
    opacity: .5;
}
.editable{
    background-color: rgba(226, 80, 80, 0.418);
}
.celdas{
    color: black;
    text-align: center;
    background-color: rgb(192, 177, 177);
}
.valores{
    text-align: center;
}
.grafica{
    background-color: white;
    border-color: white;
    border-width: 1px;
    border-radius: .5rem;
}
.borderGC{
    /*background: linear-gradient(180deg, rgb(158, 158, 158), white,rgb(158, 158, 158));*/
    border-bottom: 5px solid black;
    /*border-radius: .5rem;*/
}
.borderGG{
    border-radius: 1.25rem;
}
.borderGT{
    /*border-radius: 3.25rem;*/
    border-bottom: 5px solid rgb(156, 73, 108);
}
